#logo{
    text-align: center;
    background-color: white;
}
header {
    border-bottom:solid;
    border-color: #5D6D7E;
    width: 100%
}
div {
    background-color: #AED6F1;
}
body {
    background-color: #AED6F1;
}
footer{
    background-color:white;
    text-align:center;
}
