body {
    background-color: #A9CCE3;
    margin:0;
}
header {
    text-align: center;
    background-color: white;
    border-bottom: solid;
    border-bottom-color: #5D6D7E;
}
footer {
<<<<<<< HEAD
    color:#7574AA;
=======
    color: #7675AA;
    font-size: 20px;
    font-family: 'Berlin Sans FB';
    width: 100%;
>>>>>>> a7188297ff89d936fe110ae4f75ac3aeb6a11f94
    background-color: white;
    text-align: center;
    position: absolute;
    bottom: 0px;
    border-top: solid;
    border-top-color: #5D6D7E;
    width:100%
}
